<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Upload File</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>
<body>

{% if request.COOKIES.isStaff == 'True' %}
<div align="center">
    {% if request.COOKIES.token != None %}
        Hi {{ request.COOKIES.username }}!
            <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}

<h2>List Of Files Uploaded</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>File Name</th>
            <th>Description</th>
            <th>Uploaded Time</th>
            <th>Updated Time</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for filename, file_details in files_data.items %}
        <tr>
            <td>{{ file_details.first_name }}</td>
            <td>{{ file_details.last_name }}</td>
            <td>{{ filename }}</td>
            <td>{{ file_details.file_description }}</td>
            <td>{{ file_details.created_time }}</td>
            <td>{{ file_details.updated_time }}</td>
            <td><a href='{% url "delete" file_name=filename file_username=file_details.file_username %}'>Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>


{% else %}
<div align="center">

    {% if request.COOKIES.token != None %}
        Hi {{ request.COOKIES.username }}!
            <p><a href="{% url 'logout' %}">Log Out</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}

  <h2>Please Upload Your File Here</h2>
    <form action="" method="post" enctype="multipart/form-data" class="post-form">
        {% csrf_token %}
        {{ form_key.as_p }}
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
    <br/>
    {% for message in messages %}
    <div align="center" class="alert alert-danger alert-dismissible fade show" role="alert">
           {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <h3>List Of Files Uploaded</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>File Name</th>
            <th>Description</th>
            <th>Uploaded Time</th>
            <th>Updated Time</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for filename, file_details in files_data.items %}
        <tr>
            <td>{{ file_details.first_name }}</td>
            <td>{{ file_details.last_name }}</td>
            <td>{{ filename }}</td>
            <td>{{ file_details.file_description }}</td>
            <td>{{ file_details.created_time }}</td>
            <td>{{ file_details.updated_time }}</td>
            <td><a href='{{ file_details.file_url }}'>Download File</a></td>
            <td><a href='{% url "update" file_name=filename file_desc=file_details.file_description uploaded_time=file_details.created_time updated_time=file_details.updated_time %}'>Update</a></td>
            <td><a href='{% url "delete" file_name=filename file_username=file_details.file_username %}'>Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}
</body>
</html>