{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome To Filebox</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>
<!--Photo by <a href="https://unsplash.com/@gerimis?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Geri Mis</a> on <a href="https://unsplash.com/images/nature/cloud?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  -->
<body style="background-image: url({% static 'images/geri-mis-ZaCPb3xIqrg-unsplash.jpg' %});">
    <div align="center">
        <h1>Welcome To Filebox</h1>
        <!-- add the username and password textbox-->
        <form action="" method="post">
            {% csrf_token %}
            {{ form_key.as_p }}
            <button type="submit" class="btn btn-success">Login</button>
        </form>
        <p>Don't have an account?<a href="register/" class="link-danger">Register here</a></p>
    </div>
    {% for message in messages %}
    <div align="center" class="alert alert-danger alert-dismissible fade show" role="alert">
           {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</body>
</html>