<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filebox</title>
    <style>
        body{
        background-color: coral;
        }
    </style>
</head>
<body>
<div align="center">
    <h1>Welcome to Filebox</h1>
    <!-- add the username and password textbox-->
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account?<a href="register/">Register here</a></p>
    </div>
</body>
</html>